body{
	margin: 0;
	border: 0;
	padding: 0;
	background-color: rgba(250, 250, 250, 1);
	font-family: calibri, sans-serif;
	font-size: 16px;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
}
.width-100 {
	width: 100%;
}
.apps-container {
	width: 100vw;
	#margin: 0 auto;
}
.flex-container {
	padding: 24px;
	flex-wrap: wrap;
	#background-color: DodgerBlue;
	flex-grow: 1;
	align-items: flex-start;
	height: calc(100vh - 50px);
	width: 100%;
	flex-direction: row;
}
.flex-container > div {
	#background-color: #f1f1f1;
	#width: 100px;
	#margin: 0 0 16px 0;
	text-align: center;
	line-height: 32px;
	#font-size: 30px;
}
.flex-container > div > a {
	text-decoration: none;
}